<h2>Список доступных заказов</h2>
<div id="container-content">

  {{#each orders}}
  <div id="wrap">
    <div id="info">
      <a href="show-details/{{this._id}}">
        <h3>{{this.title}}</h3>
      </a>
      <p>{{this.address}}</p>
      <p>{{this.date}}</p>
    </div>
    <div id="price">
      <h3>{{this.price}}</h3>
    </div>
  </div>
  {{/each}}
</div>
