<div id="order-container">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h2>Детали заказа</h2>
      <p>Ресторан: {{order.title}}</p>
      <p>Состав заказа:
      <ul>
        {{#each order.positions}}
        <li>{{product}} - x{{quantity}}</li>
        {{/each}}
      </ul>
      </p>
      <p>Цена: {{order.price}}</p>

      <p>Адрес: {{order.address}}</p>
      <p>Дата создания: {{order.date}}</p>
      <p>Комментарий: {{order.comment}}</p>

      <a href="/user/main">На главную</a>
    </div>
  </div>
</div>
