<div id="order-container">
  <h2>Детали заказа</h2>
  <p>Ресторан: {{order.title}}</p>
  <p>Состав заказа:
  <ul>
    {{#each order.positions}}
    <li>{{product}} - x{{quantity}}</li>
    {{/each}}
  </ul>
  </p>
  <p>Цена: {{order.price}}</p>

  <p>Адрес: {{order.address}}</p>
  <p>Дата создания: {{order.date}}</p>
  <p>Комментарий: {{order.comment}}</p>
  <button type="submit"><a href="/user/confirm/">Заказать</a></button>
</div>

<a href="/user/main">На главную</a>
